*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: color(bg);
  color: color(text);
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
}
